/* Fonts Import */


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Background Color 1 */
body{

    max-width: 1600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(26, 11, 46, 1);


}



/* Shared Styles */

/* Header and paragraph text styles */

.regular-header{

    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2.5rem;
}









/* Header Styles */



/* Navbar Styles */


.logo-title{

    color: white;
    font-size: 24px;
    font-weight: 700;


}



/* Banner Section Styles */


/* Hero Image Style */

.banner{

    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 760px;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center; */
     
}


.banner-container{

    max-width: 550px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;


}
.img-container{

    margin: 0 auto 40px;

}

.round-image{

    background-image: url('../assets/hero-circle.png');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-btn{

    margin-left: 252px;
    margin-top: 12px;
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;

}


.hero-title{

    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    text-align: center;



}


