/* Fonts Import */


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 500 - Medium  600 - Semibold 700 - Bold */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Background Color 1 */
body{

    max-width: 1600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(26, 11, 46, 1);


}



/* Shared Styles */
.flex-display{

    display: flex;
    justify-content: center;
    align-items: center;

}
.primary-gradient-button{

    color: white;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border: none;
    border-radius: 10000px;
    font-weight: 500;
    cursor: pointer;

}
.shared-heading-style{

    font-size: 3rem;
    font-weight: 700;
    color: white;

}
.shared-text-style{

    line-height: 1.5rem;
    color: white;

}



.shared-width{

    max-width: 1200px;
    margin: 0 auto;

}






/* Header and paragraph text styles */

.regular-header{

    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2.5rem;
}









/* Header Styles */



/* Navbar Styles */





.menu{
    width: 100%;

}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px ;
}
/* Logo Styles */
.logo-title{

    color: white;
    font-size: 24px;
    font-weight: 700;


}

.logo-grad{

    background: var(--Linear, linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/* Menu Styles */
.menu-li{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

.menu-li a{

    text-decoration: none;
    color: white;
    font-weight: 500;



}

.menu-subscribe{

    height: 44px;
    width: 135px;

}

.right-arrow{
    margin: 12px 12px 12px 4px;
}


/* Banner Section Styles */


/* Hero Image Style */

.banner{

    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 760px;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center; */
     
}


.banner-container{

    max-width: 550px;
    margin: 0 auto 8rem;
    justify-items: center;
    align-items: center;


}
.img-container{


    position: relative;
    margin: 0 auto 40px;

}

.round-image{

    background-image: url('../assets/hero-circle.png');
    background-size: cover;
    background-position: center;
    padding: 30px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-btn{

    position: absolute;
    top: 30px;
    right: 20px;
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;


}

/* Hero Contents */
.hero-title{

    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 8px;
}
.hero-description{

    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

/* Hero Buttons Styles */


.button-container{

    
    display: flex;
    justify-content: center;
    gap: 8px;

}
.gradient-button{

    width: 201px;
    height: 44px;
    padding: 20px 12px;


}
.subscribe{

    color: #00FF88;
    background-color: transparent;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    font-weight: 500;
    padding: 20px 12px;
    cursor: pointer;
    width: 201px;
    height: 44px;

}
.button-container .img, .gradient-button img{

    margin-right: 8px;

}
.subscribe img{

    margin-right: 8px;

}



/* Second Section */


.second-content{

    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;

}
.second-text{

    color: white;
    line-height: 1.25rem;
    margin-top: 16px;

}
.second-line{

    opacity: 10%;

}

.second-counter{

    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 80px auto 120px;
}



.counter-headers{

    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;


}




@media screen and (max-width: 768px) {

    .banner{
        height: auto;
    }
    .menu-li{
        display: none;
    }

    .banner-container{

        max-width: 400px;

    }
    .round-image{

        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding: 30px;

    }
    .new-btn{
        top: 0px;
        right: 5px;
        
    }

    
}